POSTGRES_USER=airflow
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=airflow

AIRFLOW_WEBSERVER_SECRET_KEY=change_this
AIRFLOW_FERNET_KEY=change_this

KAFKA_BROKER_ID=X_NUMBER_HERE
KAFKA_ZOOKEEPER_CONNECT=zookeeper:PORT

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=your_password_here

AIRFLOW__CORE__FERNET_KEY=change_this