# Dataset — jangan commit
data/*.csv
data/*.parquet
data/*.json

# DuckDB
*.duckdb
*.duckdb.wal

# Secrets
.env
.dbt/

# Python
__pycache__/
*.pyc
*.egg-info/
.venv/
venv/

# Logs and target
logs/
*.log
target/

# OS
.DS_Store
.idea/
Thumbs.db

# Confidential (Account)
# Admin Acc Airflow - jangan commit 
notes_account.txt